<% layout("/layouts/boilerplate") %>

        <h3>Edit your Listing</h3>
        <form  method="POST" action="/listings/<%= listing._id %>?_method=PUT">
            <input type="text" name="listing[title]" value="<%= listing.title %>">
            <br>
            <textarea name="listing[description]"><%= listing.description %></textarea>
            <br>
            <input type="text" name="listing[image]" value="<%= listing.image %>">
            <br>
            <input type="text" name="listing[price]" value="<%= listing.price %>">
            <br>
            <input type="text" name="listing[location]" value="<%= listing.location %>">
            <br>
            <input type="text" name="listing[country]" value="<%= listing.country %>">
            <br>
            <input type="submit" value="Submit">
        </form>
    
